.content p{
    font-family: TTNormsProBold, Helvetica, Arial, sans-serif;
    font-size: 18px;

}
.result{
    
display: grid;
grid-template-columns: repeat(4,25%);
grid-gap: 7px;
border-radius: 8px;
 height: 100%;
}
.result div{

    
    }
    
