/* .LogoUser {
    height: 40px;
    width: 40px;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
} */
.Grid{
   display: flex;
align-items: center; 
}
.Grid a{
    font-family: TTNormsProNormal;
    font-size: 14px;
    margin-left: 5%;
    color: var(--black);
    white-space: nowrap;
}
.LogoUser img {
    width: 14px;
    height: 10px;
    top: 2px;
    bottom: 7px;
}
.LogoUser a {
    font-family: TTNormsProNormal;
    font-size: 14px;
    margin-left: 30px;
    color: var(--black);
    white-space: nowrap;
}
.LogoUser .LogoUserHead {
    position: relative;
    left: 38.2%;
    top: -18%;
    bottom: 37%;
}
.LogoUser .LogoUserBody {
    position: relative;
    left: 8.83%;
    right: 15.83%;
    top: 11.60%;
    bottom: 50%;
}