.Page .centered {
  color: white;
  background-color: orange;
  padding-bottom: 800px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 750px;
  display: flex;
  justify-content: center;
}

.Page .page500 {
  color: white;
  background-color: orange;
  padding-bottom: 800px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 750px;
  display: flex;
  justify-content: center;

}
.Page h1,
.Page p {
  color: black;
  margin-left: 1000px;
  margin-top: -600px;
}
.Page .page500error,
.Page p {
  color: black;
  margin-left: 900px;
  margin-top: -600px;
}

.Page h2,
.Page p {
  color: black;
  margin-left: 1000px;
  margin-top: 0px;
}

.Page .page500h2,
.Page p {
  color: black;
  margin-left: 1000px;
  margin-top: 0px;
}

.Page h3,
.Page p {
  color: black;
  margin-left: 1000px;
  margin-top: -600px;
}

.Page .buttond {
  color: white;
  background-color: orange;
  position: absolute;
  right: 320px;
  width: 107px;
  height: 35px;
  padding: 8px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 11%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.Page .button500 {
  color: white;
  background-color: orange;
  position: absolute;
  right: 280px;
  width: 107px;
  height: 35px;
  padding: 8px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 11%;
  text-align: center;
  display: flex;
  justify-content: center;
} 