.logOut {
  padding-right: 20px;
}
.logOut img {
  float: right;
}
@media only screen and (min-width: 1000px)  and (max-width: 2700px){
  .logOut{
    padding-right: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .logOut {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 50px)  and (max-width: 500px){
  .logOut {
    width: 100vw;
     height: 18vh;
     background-color: var(--gray-middel); 
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .logOutContent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 4%;
  }
  .logOut img {
  width: 8%;
  height: 8%;
  padding-left: 2%;
  }
  .logOut p {
    font-family: TTNormsProMedium, Helvetica, Arial, sans-serif;
   font-size: large;
   color:var(--gray);
    }
}