.disablebtn{
    background-color: var(--pale-pink);
    cursor: no-drop;
    color: var(--pale-orange);
}
.disablebtn a {
    pointer-events: none;
    color: var(--pale-orange);
}
.ablebtn{
    background-color: var(--orange);
    color:var(--white);
    width:69%;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0px;
    font-size: 10px;
    white-space: nowrap;

}
.ablebtn a{
    width: 100%;
    font-family: TTNormsProMedium,Helvetica, Arial, sans-serif;
    color: var(--white);
}
.Registerbtn{
    background-color: var(--white);
    border: 1px solid var(--pale-gray);;
}
.Registerbtn p{
    font-family: TTNormsProMedium,Helvetica, Arial, sans-serif;
    color: var(--black);
}
.ZoneS{
    color:#E75420 ;
background-color: #fceae3;
margin: 0 5px;
width: 50x;
height: 20px;
font-size: 8px;
}
.ZoneS:hover{
    border:1px solid #E75420;

}
.Zone1{
     background-color:#E4F0F2 ;
   color:#258998 ;
    margin: 0 5px;
    width: 50x;
    height: 20px;
    font-size: 8px;

}
.Zone1:hover{
    border:1px solid #258998;
}
.ZoneM{
    background-color:#E2F0E2 ;
    color:#138719 ;
    margin: 0 5px;
    width: 50x;
    height: 20px;
    font-size: 8px;

}
.ZoneM:hover{
    border:1px solid #138719;
}
.ZoneN{
    background-color:#E2F0E2 ;
    color:#138719 ;
    margin: 0 5px;
    width: 50x;
    height: 20px;
    font-size: 8px;

}
.ZoneN:hover{
    border:1px solid #138719;
}
.ZoneL{
    background-color:#F2DFE6 ;
    color:#990035 ;
    margin: 0 5px;
    width: 50x;
height: 20px;
    font-size: 8px;
    border: none;
}
.ZoneL:hover{
    border:1px solid #990035;
}
.region{
    padding: 2px 4px;
    font-family: TTNormsProMedium,Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
}
