@font-face {
  font-family: "TTNormsProBold";
  src: local("GoldmanBold"),
   url("./fonts/TTNormsProBold.ttf") format("truetype");
 }
 @font-face {
  font-family: "TTNormsProMedium";
  src: local("GoldmanBold"),
   url("./fonts/TTNormsProMedium.ttf") format("truetype");
 }
 @font-face {
  font-family: "TTNormsProNormal";
  src: local("GoldmanBold"),
   url("./fonts/TTNormsProNormal.ttf") format("truetype");
 }
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif,TTNormsProBold,TTNormsProMedium,TTNormsProNormal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --pale-pink: #FCEAE3;
  --white: #ffffff;
  --alice-blue:#F5F6F7;
  --gray : #394D55;
  --gray-middel :#BFBFBF;
  --pale-gray : #ccc;
  --pale-gray2:#D9D9D9;
  --orange :#E75420;
  --pale-orange:#EF906E;
  --shady-green :#258998;
  --black:#000000;
  --medium-gray : #617177
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  flex-direction: column;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
